.location{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
     border: 1px rgba(215, 184, 245, 0.75) solid;
     border-radius: 1.5rem;
     box-shadow: 0px 1px 19px 1px rgba(60,42,77,0.75);
    
}

.title{
    font-size: 1.8rem;
}




.photo{
    height: 300px;
    width: 100%;
    object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
   
}

.span{
  font-weight: 600;
}  

.deleteButton{
  background-color: brown;
  color: white;
  width: 100%;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.5rem;
}

